@import "generales";
@import "formulario";
@import "nosotros";

h2 {
  text-align: justify;
}

h3 {
  color: white;
  font-size: small;
}

h6 {
  font-size: larger;
  text-align: justify;
}

footer {
  background-color: #da2121;
  margin-top: 500px;
}

.frigorifico__logo {
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense;
  padding: auto;
  margin: auto;
  text-align: center;
}

.presentacion {
  display: flex;
  flex-wrap: wrap;
}

.izquierda {
  flex: 30%;
  padding: 20px;
}

.presentacion__frigorifico {
  flex: 70%;
  padding: 20px;
  flex: auto;
}


.bi {
  vertical-align: -.125em;
  fill: #d64444;
}

.carousel {
  width: 400px;
  margin-top: 20px;
}

.formulario {
  width: 600px;
  border-radius: 2%;
  border-color: black;
  border-style: solid;
  
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.separador{
  height: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      
}






