@import "generales";
@import "formulario";

h2 {
  text-align: justify;
}

h3 {
  color: white;
  font-size: small;
}

h6 {
  font-size: larger;
  text-align: justify;
}

footer {
  background-color: #da2121;
  margin-top: 500px;
}

.frigorifico__logo {
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense;
  padding: auto;
  margin: auto;
  text-align: center;
}

.presentacion {
  display: flex;
  flex-wrap: wrap;
}

.izquierda {
  flex: 30%;
  padding: 20px;
}

.presentacion__frigorifico {
  flex: 70%;
  padding: 20px;
  flex: auto;
}


.bi {
  vertical-align: -.125em;
  fill: #d64444;
}

.carousel {
  width: 400px;
  margin-top: 20px;
}


@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}







