* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(214, 68, 68);
    margin-top: 0%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    color: whitesmoke;
    text-align: center;
   
}

h2 {
    text-align: justify;
}

h3 {
    color: white;
    font-size: small;
}

h6 {
    font-size: larger;
    text-align: justify;
}

footer {
    background-color: rgb(218, 33, 33);
    margin-top: 500px;
}
.menu {
    display: flex;
    background-color: rgb(218, 33, 33);
}

.menu__home {
    padding: 10px;
    flex: 50%;
}

.menu__nostros {
    padding: 10px;
    flex: 50%;
}

.menu__galeria {
    padding: 10px;
    flex: 50%;
}

.menu__productos {
    padding: 10px;
    flex: 50%;
}

.menu__contacto {
    padding: 10px;
    flex: 50%;
}

.frigorifico__logo {
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;
    padding: auto;
    margin: auto;
    text-align: center;
}

.presentacion {
    display: flex;
    flex-wrap: wrap;
}

.izquierda {
    flex: 30%;

    padding: 20px;
}

.presentacion__frigorifico {
    flex: 70%;

    padding: 20px;
    flex: auto;
}

.formulario{
   width: 600px;
   border: 8px;
   border-style:outset;
   border-radius: 2%;
}

.galeria {
    display: grid;
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;
}

@media all and (min-width: 320px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(6, 1fr);
    }
}

.galeria__item:nth-child(11n+1) {
    grid-column: span 1;
}

.galeria__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
}

.galeria__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
}

.galeria__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
}

.galeria__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
}

.galeria__foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favicon {
    border-radius: 20%;
}


.bi {
    vertical-align: -.125em;
    fill: rgb(214, 68, 68);
}

.historia {
    font-size: x-large;
    text-align: justify;
}

.rounded-pill{
    height: 400px;
    width: 300px;
}


.carousel{
    width: 400px;
    
}

