* {
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif; }

header {
  background-color: #d64444; }

.favicon {
  border-radius: 10%; }

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  color: whitesmoke;
  text-align: center; }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto; }
  .form-signin .form-floating:focus-within {
    z-index: 2; }
    .form-signin .form-floating:focus-within input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .form-signin .form-floating:focus-within input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
  .form-signin .checkbox {
    font-weight: 400; }

.nosotros {
  width: 100%;
  margin: 20px auto;
  color: black;
  padding: 15px; }

.nosotros-izquierda {
  float: left;
  margin-right: 15px;
  height: 250px; }

.nosotros-derecha {
  float: right;
  margin-left: 15px;
  height: 250px; }

div.reset {
  clear: both; }

.descripcion {
  text-align: justify; }

h2 {
  text-align: justify; }

h3 {
  color: white;
  font-size: small; }

h6 {
  font-size: larger;
  text-align: justify; }

footer {
  background-color: #da2121;
  margin-top: 500px; }

.frigorifico__logo {
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense;
  padding: auto;
  margin: auto;
  text-align: center; }

.presentacion {
  display: flex;
  flex-wrap: wrap; }

.izquierda {
  flex: 30%;
  padding: 20px; }

.presentacion__frigorifico {
  flex: 70%;
  padding: 20px;
  flex: auto; }

.bi {
  vertical-align: -.125em;
  fill: #d64444; }

.carousel {
  width: 400px;
  margin-top: 20px; }

.formulario {
  width: 600px;
  border-radius: 2%;
  border-color: black;
  border-style: solid; }

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr); } }

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr); } }

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr); } }
